@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navbar-item {
  font-size: 14px;
  font-weight: 300;
  font-family: "Poppins", regular;
  color: #ffffffb3;
  transition: "color 0.3s";
}

.navbar-item:hover {
  color: white;
  font-weight: 500;
}

.navbar-item-active {
  color: white;
  font-weight: 500;
}