name: Code Standards Checks

on: pull_request

jobs:
  linter:
    runs-on: "ubuntu-latest"
    steps:
      - name: Set up Node environment
        uses: actions/setup-node@v3
        with:
          node-version: v18.17.1
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install dependencies
        working-directory: ./apps/connect
        run: npm ci
      - name: Run prettier
        working-directory: ./apps/connect
        run: npm run lint
  prettier:
    runs-on: "ubuntu-latest"
    steps:
      - name: Set up Node environment
        uses: actions/setup-node@v3
        with:
          node-version: v18.17.1
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install dependencies
        working-directory: ./apps/connect
        run: npm ci
      - name: Run prettier
        working-directory: ./apps/connect
        run: npm run prettier
