name: Portal Bridge [Release]

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment Name'
        type: choice
        options:
          - 'Cloudflare-Preview'
          - 'Cloudflare-Page-Deploy'
        required: true
        default: 'Cloudflare-Page-Deploy'
jobs:
  build:
    name: "Build Release"
    uses: ./.github/workflows/build.yml
    with:
      name: prod
      connect-branch: portal-bridge
      advanced-tools-branch: advanced-tools
      environment: ${{inputs.environment}}
    secrets: inherit
  deploy:
    name: Trigger Production Deploy 
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}-deploy-release
      cancel-in-progress: true
    needs: 
      - build
    environment: ${{inputs.environment}}
    steps:
      - name: Wait package publish to impact
        run: sleep 60s
        shell: bash
      - name: Trigger deploy
        env:
          DEPLOY_HOOK_URL: ${{ secrets.DEPLOY_HOOK_URL }}
        run: curl -X POST ${DEPLOY_HOOK_URL}
